
/***********************************BARRA DE NAVEGACION Y CAROUSEL****************/

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header .col, .header .row{
    margin: 0;
    padding: 0;
}

.carousel{
    background-color: black;
}
.carousel img{
    opacity: 0.5;
}

/**************************SECCION CONOCE A LOS ORADORES***********************/

.titulo{
    text-align: center;
}
.oradores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    

}
.orador{
    width: 25%;
    border: solid gray 0.1rem;
}
.orador img{
    width: 100%;
}
.orador section{
    margin: 2rem 0;
    padding: 1rem;
}
.orador section>button{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.orador p{
    padding: 1rem;
    font-size: 1rem;
}

/**************************LUGAR Y FECHA***********************/

.lugar{
    color: aliceblue;
}
.lugar img{
    width: 100%;
    padding: auto;
    border-right: 2px white solid;
}

